
2021/digital_technologies/digital_applications/learning_briefs/Week 4/DogPark/DogPark/bin/Debug/net5.0/DogPark.exe
2021/digital_technologies/digital_applications/learning_briefs/Week 4/DogPark/.vs/DogPark/v16/.suo
*.sln
*.json
*.dll
*.pdb
*.csproj
2021/digital_technologies/digital_applications/learning_briefs/Week 4/DogPark/DogPark/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
*.exe
*.cache
2021/digital_technologies/digital_applications/learning_briefs/Week 4/DogPark/DogPark/obj/Debug/net5.0/DogPark.csproj.FileListAbsolute.txt
*.editorconfig
*.props
*.targets
*.v2
*.v2
2021/digital_technologies/digital_applications/learning_briefs/Week 4/TestInheritance/.vs/TestInheritance/v16/.suo
*.v2
2021/digital_technologies/digital_applications/learning_briefs/Week 4/TestInheritance/.vs/TestInheritance/DesignTimeBuild/.dtbcache.v2
2021/digital_technologies/digital_applications/learning_briefs/Week 4/DogPark/DogPark/obj/Debug/net5.0/DogPark.AssemblyInfo.cs
